@media screen and (min-width: 1000px) {
  //768px
  .py {
    padding-left: 2.5rem; //40px
    padding-right: 2.5rem; //40px
  }
  .header {
    max-height: 50rem;
    background: url("../images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    ._main {
      ._logo {
        width: 10.8125rem; //173px
        img {
          transform: translateY(50%);
        }
      }
      .hamburger_btn {
        display: none;
      }
    }
    ._title {
      font-size: 2.8125rem; //45px
      margin-top: 7.375rem; //118px;
      margin-bottom: 6.5625rem; //105px
    }
    ._arrow {
      img {
        height: 7.375rem; //118px;
      }
    }
    nav {
      display: block;

      a {
        font-size: 1rem;
        color: $white;
        padding: 18px 28px;
        border-radius: 50px;
        transition: background-color 300ms ease-in-out;

        &:active {
          font-size: 0.875rem;
          color: $blue-dark;
          background-color: $white;
          text-transform: uppercase;
          font-family: $family-02;
        }
        &:hover {
          font-size: 0.875rem;
          font-family: $family-02;
          text-transform: uppercase;
          background-color: rgba(255, 255, 255, 0.25);
        }
      }
    }
    .nav_mobile {
      display: none;
    }
  }

  // sevices
  .service {
    &_content {
      h1 {
        font-size: 2.3rem;
        width: 50%;
      }
      p {
        width: 50%;
      }
      a {
        width: 50%;
      }
    }

    .pattern_1 {
      &_image {
        content: url("../images/desktop/image-transform.jpg");
      }
    }
    .pattern_2 {
      &_image {
        content: url("../images/desktop/image-stand-out.jpg");
      }
    }

    .pattern_3 {
      .image_content {
        margin-inline: 0;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  // testimonial
  .testimonial {
    padding: 165px;

    &_heading {
      font-size: 1rem;
    }
  }
  .card {
    &_profile {
      margin-bottom: 65px;
    }
    p {
      margin-bottom: 75px;
    }
  }

  // image gallery
  .image_gallery{
    grid-template-columns: repeat(4, 1fr);
  }

  // footer
}
