*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    font-family: $family-01;
}
img{
    width: 100%;
}
button{
    border: none;
}
.py{
    padding-left: 1.25rem;//20px
    padding-right: 1.25rem;//20px
}
a{
    display: inline-block;
    text-decoration: none;
}
::-webkit-scrollbar{
    display: none;
}