@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,wght@0,700;1,900&display=swap');
/* font-family: 'Barlow', sans-serif; //600
font-family: 'Fraunces', serif; // 700,900 */

    /* primary */
    $red-soft: hsl(7, 99%, 70%);
    $yellow: hsl(51, 100%, 49%);
    $cyan-dark: hsl(167, 40%, 24%);
    $cyan-moderate-dark: hsl(168, 34%, 41%);
    $blue-dark: hsl(198, 62%, 26%);

    /* nuetral */
    $blue-destruated: hsl(212, 27%, 19%);
    $grayish-blue: hsl(210, 4%, 67%);
    $grayish-blue-dark:  hsl(213, 9%, 39%);
    $white: hsl(0, 0%, 100%);

    /* font family */
    $family-01: 'Barlow', sans-serif;
    $family-02: 'Fraunces', serif;
